

body 
{
	margin:0px auto;
	
}
.container-fluid first 
{
	margin:0px;
	width:100%;
	height:600px;
	
}
.first 
{
	background-image:linear-gradient( rgba(243,129,129,0.9), rgba(250, 228, 149, 0.9)),url(images/logo.jpg);
	background-size:cover;
	background-position:center;
	
}
.container   
{
    margin:0px auto;
	width:1170px;
	height:600px;
}

.logo h1 
{
	font-size:20px;
	font-weight:bold;
	color:white;
	text-transform:capitalize;
	padding:15px 15px;
	margin-top:0px;
	float:left;
	list-style:none;
	font-family: 'Montserrat', sans-serif;

}
.logo ul
{
	font-size:15px;
	text-transform:uppercase;
	color:white;
	list-style:none;
	float:right;
    margin:10px;
}
.logo ul li
{
    float:left;
	padding:15px 15px;
	margin:0px 0px 0px 0px;
	font-weight:bold;
	font-family: 'Montserrat', sans-serif;
}
.main h2
{
	font-size:45px;
	font-weight:400px;
	color:white;
	text-align:center;
	text-transform:capitalize;
	margin-top:0px ;
	padding-top:100px;
	font-family: 'Kaushan Script', cursive;
}

.main h3
{
	text-transform:uppercase;
	font-size:90px;
	font-weight:bold;

	text-align:center;
	color:white;
	margin-top:-20px;
	font-family: 'Montserrat', sans-serif;
}
.main p 
{
	display:inline-block;
	
	color:#fff;
	border-radius:5%;
	text-align:center;
	font-size:20px;
	text-transform:uppercase;
	margin:-10px 0px 0px 510px;
    border:2px solid white;
	font-family: 'Montserrat', sans-serif;
}
.main h4 
{
	text-align:center;
	color:white;
	font-size:22px;
	margin-top:-100px;
	font-family: 'Montserrat', sans-serif;
	
}

.last ul
{  
    width:100%;
	font-size:16px;
	text-transform:uppercase;
	color:white;
	list-style:none;
	text-align:center;
    
}
.last ul li
{
	
	float:left;
	font-weight:bold;
	margin-left:0px;
    margin-right:180px;
    margin-top:75px;
	font-family: 'Montserrat', sans-serif;	
}
.new h1
{
	font-size:20px;
	color:black;
	text-decoration:bold;
	text-align:center;
	margin:70px 0px 0px 0px;
	padding:5px;
	font-style:italic;
	font-family: 'Kaushan Script', cursive;

	
}
.new h2
{
	font-size:25px;
	color:black;
	text-decoration:bold;
	text-align:center;
	margin:0px;
	padding:5px;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	
}
.new h3
{
	color:red;
	font-size:22px;
	text-align:center;
	margin-top:-10px;
	
	
}
.new h4
{
	margin-top:25px;
	margin-left:50px;
	text-align:center;
	font-size:12px;
	text-transform:lowercase;
	opacity:0.4;
	font-family: 'Montserrat', sans-serif;
	
}
.img 
{
	width:1170px;
	height:300px;
	margin:80px 0px;
}
.img1 
{
	width:350px;
	height:270px;
	box-sizing:border-box;
    margin:0px 20px;
    float:left;
}
.img1 img 
{
	display:inline-block;
	width:350px;
	height:266px;
}
.img2
{
	width:350px;
	height:270px;
    box-sizing:border-box;
    margin:0px 20px;
    float:left;
	
    
}
.img2 img
{
	display:inline-block;
	width:350px;
	height:266px;
}
.img3 
{
	width:350px;
	height:270px;
	
    box-sizing:border-box;
    margin:0px 20px;
    float:left;
    
}
.img3 img
{
	display:inline-block;
	width:350px;
	height:266px;
}
.box 
{
	width:100%;
	height:200px;
	background-color:#95e1d3;
}
.box1 
{
	width:115px;
	height:200px;
	border:0.5px solid white;
	float:left;
}
.box2 
{
	width:215px;
	height:200px;
	border:0.5px solid white;
	float:left;
}
.box2 h1  
{
	font-size:75px;
	text-align:center;
	margin-top:30px;
	color:white;
}
.box2 h2 
{
	font-size:14px;
	text-transform:uppercase;
	color:white;
	box-sizing:border-box;
	padding-left:20px;
	margin-top:-40px;
	font-family: 'Montserrat', sans-serif;
}
.box3 
{
	width:215px;
	height:200px;
	border:0.5px solid white;
	float:left;
}
.box3 h1  
{
	font-size:75px;
	text-align:center;
	margin-top:30px;
	color:white;
}
.box3 h2 
{
	font-size:14px;
	text-transform:uppercase;
	color:white;
	box-sizing:border-box;
	padding-left:55px;
	margin-top:-40px;
	font-family: 'Montserrat', sans-serif;
}
.box4 
{
	width:215px;
	height:200px;
	border:0.5px solid white;
	float:left;
}
.box4 h1  
{
	font-size:75px;
	text-align:center;
	margin-top:30px;
	color:white;
}
.box4 h2 
{
	font-size:14px;
	text-transform:uppercase;
	color:white;
	box-sizing:border-box;
	padding-left:55px;
	margin-top:-40px;
	font-family: 'Montserrat', sans-serif;
}
.box5 
{
	width:215px;
	height:200px;
	border:0.5px solid white;
	float:left;
}
.box5 h1  
{
	font-size:75px;
	text-align:center;
	margin-top:30px;
	color:white;
}
.box5 h2 
{
	font-size:14px;
	text-transform:uppercase;
	color:white;
	box-sizing:border-box;
	padding-left:55px;
	margin-top:-40px;
	font-family: 'Montserrat', sans-serif;
}
.box6 
{
	width:215px;
	height:200px;
	border:0.5px solid white;
	float:left;
}
.box6 h1  
{
	font-size:75px;
	text-align:center;
	margin-top:30px;
	color:white;
}
.box6 h2 
{
	font-size:14px;
	text-transform:uppercase;
	color:white;
	box-sizing:border-box;
	padding-left:65px;
	margin-top:-40px;
	font-family: 'Montserrat', sans-serif;
}
.box7 
{
	width:215px;
	height:200px;
	border:0.5px solid white;
	float:left;
}
.work h1
{
	font-size:20px;
	text-align:left;
	color:block;
	margin-top:90px;
	margin-left:500px;
	font-family: 'Kaushan Script', cursive;
}
.work h2
{
	font-size:28px;
	text-align:left;
	color:block;
	text-transform:uppercase;
	margin-top:10px;
	margin-left:420px;
	font-family: 'Montserrat', sans-serif;
}
.work h3
{
	color:red;
	font-size:30px;
	text-align:left;
	margin-left:510px;
	margin-top:-40px;
}
.work1 
{
	width:1170px;
	margin-top:50px;
}
.b1 
{
	width:370px;
	height:200px;
	float:left;
	margin:10px;
}
.b1 h1
{
	font-size:16px;
	text-transform:uppercase;
	margin:30px 0px 0px 70px;
	font-family: 'Montserrat', sans-serif;
}
.b1 p
{
	font-size:12px;
	text-transform:capitalize;
	margin:10px 0px 0px 70px;
	font-family: 'Roboto', sans-serif;
}
.b2
{
	width:370px;
	height:200px;
	
	float:left;
	margin:10px;
}
.b2 h1
{
	font-size:16px;
	text-transform:uppercase;
	margin:30px 0px 0px 70px;
	font-family: 'Montserrat', sans-serif;
}
.b2 p
{
	font-size:12px;
	text-transform:capitalize;
	margin:10px 0px 0px 70px;
	font-family: 'Roboto', sans-serif;
}
.b3
{
	width:370px;
	height:200px;

	float:left;
	margin:10px;
}
.b3 h1
{
	font-size:16px;
	text-transform:uppercase;
	margin:30px 0px 0px 70px;
	font-family: 'Montserrat', sans-serif;
}
.b3 p
{
	font-size:12px;
	text-transform:capitalize;
	margin:10px 0px 0px 70px;
	font-family: 'Roboto', sans-serif;
}
.hr 
{
	width:1170px;
	color:black;
	opacity:0.8;
	margin-top:50px;
}
.work2 
{
	width:1170px;
	margin-top:50px;
}
.b4 
{
	width:370px;
	height:200px;
	
	float:left;
	margin:10px;
}
.b4  h1
{
	font-size:16px;
	text-transform:uppercase;
	margin:31px 0px 0px 70px;
	font-family: 'Montserrat', sans-serif;
}
.b4 p
{
	font-size:12px;
	text-transform:capitalize;
	margin:20px 0px 0px 65px;
	font-family: 'Roboto', sans-serif;
}
.b5 
{
	width:370px;
	height:200px;
	
	float:left;
	margin:10px;
}
.b5 h1
{
	font-size:16px;
	text-transform:uppercase;
	margin:30px 0px 0px 70px;
	font-family: 'Montserrat', sans-serif;
}
.b5 p
{
	font-size:13px;
	text-transform:capitalize;
	margin:20px 0px 0px 65px;
	font-family: 'Roboto', sans-serif;
}
.b6
{
	width:370px;
	height:200px;
	
	float:left;
	margin:10px;
}
.b6 h1
{
	font-size:16px;
	text-transform:uppercase;
	margin:30px 0px 0px 70px;
	font-family: 'Montserrat', sans-serif;
}	
.b6 p
{
	font-size:13px;
	text-transform:capitalize;
	margin:20px 0px 0px 65px;
	font-family: 'Roboto', sans-serif;
}
.final 
{
	width:100%;
	height:700px;
	background-image:url(images/img1.jpg);
	margin-top:50px;
}
.final h1 
{
	font-size:20px;
	text-transform:capitalize;
	text-align:left;
	
	font-family: 'Kaushan Script', cursive;
	padding-top:40px;
	padding-left:570px;
}
.final h2 
{
	font-size:24px;
	text-transform:uppercase;
	text-align:left;
	
	font-family: 'Montserrat', sans-serif;
	padding-top:-10px;
	padding-left:530px;
}
.final h3
{
	color:red;
	font-size:30px;
	text-align:left;
	margin-left:590px;
	margin-top:-30px;
}
.final img
{ 
	width:380px;
	height:480px;
	margin:50px 0px 0px 480px;
}


.final2 img 
{ 
	width:170px;
	height:380px;
	position:absolute;
	margin:-315px 0px 0px 800px;
} 
.serv 
{
	width:100%;
	height:700px;
	
}
.serv h1 
{
	font-size:25px;
	text-transform:capitalize;
	text-align:left;
	
	font-family: 'Kaushan Script', cursive;
	padding-top:80px;
	padding-left:500px;

}
.serv h2 
{
	font-size:22px;
	text-transform:uppercase;
	text-align:left;
	
	font-family: 'Montserrat', sans-serif;
	margin-top:-10px;
	padding-left:460px;
}
.serv h3
{
	color:red;
	font-size:30px;
	text-align:left;
	margin-left:510px;
	margin-top:-30px;
}
.serv h4 
{
	font-size:11px;
	text-transform:lowercase;
	text-align:left;
	font-family: 'Montserrat', sans-serif;
	margin-top:-0px;
	margin-left:200px;
	opacity:0.4;
}
.serv h5 
{
	font-size:11px;
	text-transform:lowercase;
	text-align:left;
	font-family: 'Montserrat', sans-serif;
	margin-top:-30px;
	margin-left:220px;
	opacity:0.4;
}
.newpic 
{
	width:550px;
	height:400px;
    float:left;
	margin-top:-420px;
}
.newpic img 
{
	float: left;
    width:550px;
	height:350px;
}	
.newtext 
{
	width:570px;
	height:350px;
	float:right;

}
.newtext h1 
{

	display:inline-block;
	border:1px solid rgb(61, 7, 7);
	margin-top:-450px;
	padding:20px 350px 20px 30px;
	font-size:15px;
	font-family: 'Montserrat', sans-serif;

}
.newtext h2 
{

	display:inline-block;
	border:1px solid rgb(61, 7, 7);
	margin-top:-290px;
	padding:20px 380px 20px 30px;
	font-size:15px;
	font-family: 'Montserrat', sans-serif;

}
.newtext h3 
{

	display:inline-block;
	border:1px solid rgb(61, 7, 7);
	margin-top:-170px;
	padding:20px 370px 20px 30px;
	font-size:15px;
	font-family: 'Montserrat', sans-serif;

}
.newcf 
{
	width:100%;
	height:250px;
	background-color: rgb(241, 241, 239);
	margin-top:110px;
}
.newcf-1 h3
{
	font-size:12px;
	font-family: 'Montserrat', sans-serif;
	padding-left:120px;
	padding-top:60px;
	opacity:0.4;
	text-transform:lowercase;
	
	
}
.newcf-1 h4
{
	font-size:12px;
	font-family: 'Montserrat', sans-serif;
	padding-left:120px;
	margin-top:-30px;
	opacity:0.4;
	text-transform:lowercase;
	
}
.newcf-1 h1 
{
	color:red;
	font-size:30px;
	text-align:left;
	margin-left:150px;
	
}
.newcf-1 h2 
{
	font-size:22px;
	text-transform:uppercase;
	text-align:left;
	opacity:0.5;
	margin-top:-40px;
	padding-left:210px;
	font-family: 'Kaushan Script', cursive;
}
.team h1 
{
	font-size:22px;
	text-transform:capitalize;
	text-align:left;
	
	margin-top:80px;
	padding-left:480px;
	font-family: 'Kaushan Script', cursive;
}
.team h2 
{
	font-size:22px;
	text-transform:uppercase;
	text-align:left;
	font-family: 'Montserrat', sans-serif;
	margin-top:0px;
	padding-left:440px;
	
}
.team h3 
{
	color:red;
	font-size:30px;
	text-align:left;
	margin-left:510px;
	margin-top:-30px;
	
}
.team h4  
{
	font-size:12px;
	text-transform:lowercase;
	text-align:left;
	font-family: 'Montserrat', sans-serif;
	margin-top:0px;
	margin-left:200px;
	opacity:0.4;
	
}
.team h5  
{
	font-size:12px;
	text-transform:lowercase;
	text-align:left;
	font-family: 'Montserrat', sans-serif;
	margin-top:-25px;
	margin-left:220px;
	opacity:0.4;
	
}
.team2 img 
{
	width:360px;
	height:480px;
	float:left;
	padding:20px 15px;
	
}
.team3 img 
{
	width:360px;
	height:480px;
	float:left;
	padding:20px 15px;
}
.team4 img 
{
	width:360px;
	height:480px;
	padding:20px 15px;
}
.new6
{
   width:100%;
   height:200px;
   background-color: #f1f3f3;
   margin-top:200px;
}
.brand img 
{
	width:150px;
	height:160px;
	margin-left:15px;
	margin-top:10px;
	float:left;
} 
.brand2 img 
{
	width:150px;
	height:160px;
	margin-left:30px;
	margin-top:10px;
	float:left;
}
.brand3 img 
{
	width:150px;
	height:160px;
	margin-left:50px;
	margin-top:10px;
	float:left;
}
.brand4 img 
{
	width:150px;
	height:160px;
	margin-left:50px;
	margin-top:10px;
	float:left;
}
.brand5 img 
{
	width:150px;
	height:160px;
	margin-left:50px;
	margin-top:10px;
	float:left;
}
.brand6 img 
{
	width:150px;
	height:160px;
	margin-left:50px;
	margin-top:10px;
	float:left;
}
.sw 
{
	width:100%;
	height:200px;
	
	margin-top:60px;
}
.some h1 
{
	font-size:22px;
	text-transform:capitalize;
	text-align:left;
	font-family: 'Kaushan Script', cursive;
	margin-top:0px;
	padding-left:510px;
	color:black;
}
.some h2 
{
	font-size:22px;
	text-transform:uppercase;
	text-align:left;
	font-family: 'Montserrat', sans-serif;
	margin-top:10px;
	padding-left:440px;
	color:black;
}
.some h3 
{
	font-size:22px;
	text-transform:uppercase;
	text-align:left;
	font-family: 'Montserrat', sans-serif;
	margin-top:-25px;
	padding-left:550px;
	color:rgb(207, 7, 7);
}
.some h4 
{
	font-size:11px;
	text-transform:lowercase;
	text-align:left;
	font-family: 'Montserrat', sans-serif;
	margin-top:0px;
	padding-left:220px;
	color:black;
	opacity:0.4;
}
.some h5 
{
	font-size:11px;
	text-transform:lowercase;
	text-align:left;
	font-family: 'Montserrat', sans-serif;
	margin-top:-25px;
	padding-left:280px;
	color:black;
	opacity:0.4;
}
.ourwork
{
  width:100%;
  height:500px;
  background-color: aqua;
}
.our1 
{
	width:330px;
	height:250px;
	background-color: brown;
}
.our1 img 
{
	width:330px;
	height:250px;
}
.our2 
{
	width:330px;
	height:250px;
	background-color: rgb(110, 107, 107);
	float:left;
}
.our2 img 
{
	width:330px;
	height:250px;
}
.our3 
{
	width:340px;
	height:250px;
	background-color: rgb(7, 1, 1);
	margin-left:330px;
	margin-top:-250px;
}
.our3 img 
{
	width:340px;
	height:250px;
}
.our4 
{
	width:340px;
	height:250px;
	background-color: rgb(247, 103, 103);
	float:left;
}
.our4 img 
{
	width:340px;
	height:250px;
}
.our5 
{
	width:360px;
	height:500px;
	background-color: rgb(56, 243, 119);
	margin-left:670px;
	margin-top:-500px;
	float: left;
}
.our5 img 
{
	width:360px;
	height:500px;
}
.our6 
{
	width:380px;
	height:250px;
	background-color: rgb(235, 96, 205);
	margin-left:1020px;
	margin-top:-250px;
}
.our6 img 
{
	width:380px;
	height:250px;
}
.our7 
{
	width:380px;
	height:250px;
	background-color: rgb(7, 41, 48);
	margin-left:1020px;
	
}
.our7 img 
{
	width:380px;
	height:250px;
}
.josh 
{
	width:100%;
	height:300px;
}	
.js 
{
	width:1170px; 
	height:300px;
}	
.js h1 
{
	font-size:14px;
	text-transform:lowercase;
	text-align:left;
	font-family: 'Montserrat', sans-serif;
	margin-top:80px;
	margin-left:300px;
	color:black;
	opacity:0.4;
}
.js h2 
{
	font-size:14px;
	text-transform:lowercase;
	text-align:left;
	font-family: 'Montserrat', sans-serif;
	margin-top:-20px;
	margin-left:305px;
	color:black;
	opacity:0.4;
}
.js h3 
{
	color:red;
	font-size:30px;
	text-align:left;
	margin-left:300px;
	margin-top:-20px;
	
}
.js h4 
{
	font-size:20px;
	text-transform:capitalize;
	text-align:left;
	font-family: 'Kaushan Script', cursive;
	margin-top:-48px;
	margin-left:380px;
	color:black;
	opacity:0.4;
}
.girl img
{
   border-radius:100%;
   width:220px;
   height:200px;
   margin-left:20px;
   margin-top:-150px;
}
.hc 
{
	width:100%;
	height:700px;
}
.hc img 
{
	width:100%;
	height:700px;
}

.maincl h1 
{
	font-size:20px;
	text-transform:capitalize;
	text-align:left;
	font-family: 'Kaushan Script', cursive;
	margin-top:-620px;
	margin-left:590px;
	color:black;
	opacity:0.6;
} 
.maincl h2 
{
	font-size:24px;
	text-transform:capitalize;
	text-align:left;
	font-family: 'Montserrat', sans-serif;
	margin-top:10px;
	margin-left:530px;
	color:black;

} 
.maincl h3 
{
	color:red;
	font-size:30px;
	text-align:left;
	margin-left:620px;
	margin-top:-35px;
}
.client 
{
	width:1170px;
	height:700px;
}
.client1 
{
	width:500px;
	height:300px;
	
} 
.client1 img 
{
  width:60px;
  height:60px;
  border-radius:100%;
  margin-top:-50px;
  margin-left:;
}

.client1 p
{
	font-size:10px;
	text-transform:lowercase;
	text-align:left;
	font-family: 'Montserrat', sans-serif;
	margin-top:60px;
	margin-left:110px;
	color:black;
}
.client1 h1
{
	font-size:16px;
	text-transform:uppercase;
	text-align:left;
	font-family: 'Montserrat', sans-serif;
	margin-top:-130px;
	margin-left:110px;
	color:black;
}
.client1 h2
{
	font-size:9px;
	text-transform:uppercase;
	text-align:left;
	font-family: 'Montserrat', sans-serif;
	margin-top:10px;
	margin-left:110px;
	color:black;
}
.client1 h3 
{
	color:red;
	font-size:30px;
	text-align:left;
	margin-left:110px;
	margin-top:-25px;
}
.blog 
{
	width:100%;
	height:600px;
}

.blog1 h1
{
	font-size:20px;
	text-transform:capitalize;
	text-align:left;
	font-family: 'Kaushan Script', cursive;
	margin-top:80px;
	margin-left:480px;
	color:black;
	opacity:0.5;
}
.blog1 h2
{
	font-size:24px;
	text-transform:capitalize;
	text-align:left;
	font-family: 'Montserrat', sans-serif;
	margin-top:10px;
	margin-left:440px;
	color:black;
}
.blog1 h3 
{
	color:red;
	font-size:30px;
	text-align:left;
	margin-left:490px;
	margin-top:-35px;
} 
